@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --colorFondo: #081b29;
    --segundoColorFondo: #112e42;
    --colorTexto: #ededed;
    --colorPrincipal: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--colorFondo);
    color: var(--colorTexto);
    background-image: url('../assets/images/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.cabecera.sticky {
    background: var(--colorFondo);
}

.logo {
    font-size: 2.5rem;
    color: var(--colorTexto);
    font-weight: 600;
}

.menu a {
    font-size: 1.7rem;
    color: var(--colorTexto);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.menu a:hover,
.menu a.active {
    color: var(--colorPrincipal);
}

#menu-icono {
    position: relative;
    font-size: 3.6rem;
    color: var(--colorTexto);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.inicio {
    display: flex;
    align-items: center;
    padding: 0 9%;
    /* background: url('/images/fondo4.avif');
    background-size: cover;
    background-position: center; */
}

.inicio-contenido {
    max-width: 60rem;
    z-index: 99;
}

.inicio-contenido h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-contenido h1 span {
    color: var(--colorTexto);
}

.inicio-contenido .texto-animado {
    position: relative;
    width: 32.8rem;
}

.inicio-contenido .texto-animado h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--colorPrincipal);
    background-image: linear-gradient(var(--colorPrincipal), var(--colorPrincipal));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: inicioTextoFondo 6s linear infinite;
    animation-delay: 2s;
}

.inicio-contenido .texto-animado h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--colorPrincipal);
    z-index: -1;
    animation: inicioCursorTexto 6s linear infinite;
    animation-delay: 2s;
}

.inicio-contenido p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.boton-caja {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 36rem;
    height: 5rem;
    gap: 2rem;
}

.boton-caja .boton {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 100%;
    background: var(--colorPrincipal);
    border: .2rem solid var(--colorPrincipal);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--colorFondo);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.boton-caja .boton:hover {
    color: var(--colorPrincipal);
}

.boton-caja .boton:nth-child(2) {
    background: transparent;
    color: var(--colorPrincipal);
}

.boton-caja .boton:nth-child(2):hover {
    color: var(--colorFondo);
}

.boton-caja .boton:nth-child(2)::before {
    background: var(--colorPrincipal);
}

.boton-caja .boton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--colorFondo);
    z-index: -1;
    transition: .5s;
}

.boton-caja .boton:hover::before {
    width: 100%;
}

.inicio-redes {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.inicio-redes a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--colorPrincipal);
    border-radius: 50%;
    font-size: 20px;
    color: var(--colorPrincipal);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.inicio-redes a:hover {
    color: var(--colorFondo);
}

.inicio-redes a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--colorPrincipal);
    z-index: -1;
    transition: .5s;
}

.inicio-redes a:hover::before {
    width: 100%;
}

.inicio-imagen {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.inicio-imagen:hover {
    background: var(--colorFondo);
    opacity: .8;
}

.acerca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background: var(--segundoColorFondo); */
    padding-bottom: 6rem;
}

.titulo {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--colorPrincipal);
}

.acerca-imagen {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acerca-imagen img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--colorPrincipal);
}

.acerca-imagen .circulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--colorPrincipal);
    border-right: .2rem solid var(--colorPrincipal);
    animation: acercaVueltas 8s linear infinite;
}

.acerca-contenido {
    text-align: center;   
}

.acerca-contenido h3 {
    font-size: 2.6rem;
}

.acerca-contenido p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.boton-caja.botones {
    display: inline-flex;
    width: 15rem;
}

.boton-caja.botones a::before {
    background: var(--segundoColorFondo);
}

.educacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.educacion .educacion-fila {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.educacion-fila .educacion-columna {
    flex: 1 1 40rem; /* flex-grow (crecer si hay espacio adicional), flex-shrink (contraerse si no hay suficiente espacio),         flex-basis (determino el tamaño donde va a efectuar los dos anteriores) */
}

.educacion-columna .titulo {
    font-size: 2.5rem;
    margin: 0 0 1.5rem; /* superior, derecho, inferior, izquierdo */
}

.educacion-columna .educacion-caja {
    border-left: .2rem solid var(--colorPrincipal);
}

.educacion-caja .educacion-contenido {
    position: relative;
    padding-left: 2rem;
}

.educacion-caja .educacion-contenido::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--colorPrincipal);
    border-radius: 50%;
}

.educacion-contenido .contenido {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--colorPrincipal);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.educacion-contenido .contenido::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--segundoColorFondo);
    z-index: -1;
    transition: .5s;
}

.educacion-contenido .contenido:hover::before {
    width: 100%
}

.educacion-contenido .contenido .anio,
.educacion-contenido .contenido .lugar {
    font-size: 1.5rem;
    color: var(--colorPrincipal);
    padding-bottom: .5rem;
}

.educacion-contenido .contenido .anio i,
.educacion-contenido .contenido .lugar i {
    padding-right: .5rem;
}

.educacion-contenido .contenido h3 {
    font-size: 2rem;
}

.educacion-contenido .contenido p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.habilidades {
    min-height: auto;
    padding-bottom: 7rem;
    /* background: var(--segundoColorFondo); */
}

.habilidades .habilidades-fila {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.habilidades-fila .habilidades-columna {
    flex: 1 1 40rem;
}

.habilidades-columna .titulo {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.habilidades-caja .habilidades-contenido {
    position: relative;
    border: .2rem solid var(--colorPrincipal);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.habilidades-caja .habilidades-contenido::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--colorFondo);
    z-index: -1;
    transition: .5s;
}

.habilidades-caja .habilidades-contenido:hover::before {
    width: 100%;
}

.habilidades-contenido .progreso {
    padding: 1rem 0;
}

.habilidades-contenido .progreso h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.habilidades-contenido .progreso h3 span {
    color: var(--colorTexto);
}

.habilidades-contenido .progreso .barra {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--colorPrincipal);
    padding: .5rem;
    margin: 1rem 0;
}

.habilidades-contenido .progreso .barra span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--colorPrincipal);
}

.habilidades-columna:nth-child(1) .habilidades-contenido .progreso:nth-child(1) .barra span {
    width: 90%;
}

.habilidades-columna:nth-child(1) .habilidades-contenido .progreso:nth-child(2) .barra span {
    width: 80%;
}

.habilidades-columna:nth-child(1) .habilidades-contenido .progreso:nth-child(3) .barra span {
    width: 50%;
}

.habilidades-columna:nth-child(1) .habilidades-contenido .progreso:nth-child(4) .barra span {
    width: 65%;
}

.habilidades-columna:nth-child(2) .habilidades-contenido .progreso:nth-child(1) .barra span {
    width: 60%;
}

.habilidades-columna:nth-child(2) .habilidades-contenido .progreso:nth-child(2) .barra span {
    width: 70%;
}

.habilidades-columna:nth-child(2) .habilidades-contenido .progreso:nth-child(3) .barra span {
    width: 80%;
}

.habilidades-columna:nth-child(2) .habilidades-contenido .progreso:nth-child(4) .barra span {
    width: 40%;
}

/* proyecto */

.proyectos {
    margin-bottom: 10rem;
    min-height: auto;
    padding: 50px 20px;
}

.proyectos .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.proyectos .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyectos .galeria .proyecto {
    position: relative;
    max-width:50rem;
    height: 30rem;
    margin: 10px;
    cursor: pointer;
}

.proyectos .galeria .proyecto img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2rem;
    padding: 1rem;
}

.proyectos .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.proyectos .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.proyectos .galeria .proyecto .overlay:hover {
    opacity: 1;
    border-radius: 2rem;
}

.proyectos .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/*************/

/* .texto-principal {
    padding-top: 130px;
    margin-top: 200px;
}

.texto-principal h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.texto-principal h2 span {
    color: var(--colorPrincipal);
}

.proyecto-contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}

.proyecto-fila {
    position: relative;
    overflow: hidden;
    border-radius: .3rem;
    cursor: pointer;
}

.proyecto-fila img {
    width: 100%;
    border-radius: .3rem;
    display: block;
    transition: transform .5s;
}

.capa {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,.1), #00abf0);
    position: absolute;
    border-radius: .3rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height .5s;
} */

.contacto {
    margin-bottom: 10rem;
    min-height: auto;
    padding-bottom: 7rem;
}

.contacto form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contacto form .input-caja {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .input-caja .input-campo {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contacto form .input-caja .input-campo input,
.contacto form .textarea-campo textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--colorTexto);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--colorPrincipal);
}

.contacto form .input-caja .input-campo input::placeholder,
.contacto form .textarea-campo textarea::placeholder {
    color: var(--colorTexto);
}

.contacto form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--segundoColorFondo);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contacto form .input-caja .input-campo input:focus~.focus,
.contacto form .input-caja .input-campo input:valid~.focus,
.contacto form .textarea-campo textarea:focus~.focus,
.contacto form .textarea-campo textarea:valid~.focus {
    width: 100%;
}

.contacto form .textarea-campo {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contacto form .textarea-campo textarea {
    resize: none;
}

.contacto form .boton-caja.botones .boton {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--segundoColorFondo);
}   

.footer-texto p {
    font-size: 1.6rem;
}

.footer-icono-top a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--colorPrincipal);
    border: .2rem solid var(--colorPrincipal);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-icono-top a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--segundoColorFondo);
    z-index: -1;
    transition: .5s;
}

.footer-icono-top a:hover::before {
    width: 100%;
}

.footer-icono-top a i {
    font-size: 2.4rem;
    color: var(--colorFondo);
    transition: .5s;
}

.footer-icono-top a:hover i {
    color: var(--colorPrincipal);
}

/* breakpoints */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .cabecera {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .inicio {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .cabecera {
        background: var(--colorFondo);
    }

    #menu-icono {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--colorPrincipal);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .menu.active {
        left: 0;
        transition-delay: 0s;
    }

    .menu .active-menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--colorFondo);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .menu.active .active-menu {
        left: 0;
        transition-delay: .25s;
    }

    .menu a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .menu.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .inicio-imagen {
        pointer-events: none;
        background: var(--colorFondo);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .inicio-contenido h1 {
        display: flex;
        flex-direction: column;
    }

    .inicio-redes {
        width: 160px;
    }

    .inicio-redes a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .inicio-contenido h1 {
        font-size: 5.2rem;
    }

    .educacion {
        padding: 10rem 4% 5rem 5%;
    }

    .contacto form .input-caja .input-campo {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .inicio {
        justify-content: center;
    }

    .inicio-contenido {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .inicio-contenido h1 {
        font-size: 5rem;
    }
}

@keyframes inicioTextoFondo {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}

@keyframes inicioCursorTexto {
    0%, 10%, 100% {
        width: 0;
    }
    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }
    75%, 81% {
        opacity: 0;
    }
}

@keyframes acercaVueltas {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
